main img {
    width: 100%;
}

@media only screen and (min-width: 768px) {
    main img {
        width: 27vw;
    }
}

#border-header {
    border-width: 5px;
    border: black solid;
    width: 61vw;
}

table,
th,
td {
    border-collapse: collapse;
    border: 5px solid;
    width: 61.32vw;
    text-align: center;
}
