main img {
    width: 100%;
}

@media only screen and (min-width: 768px) {
    main {
        display: grid;
        grid-template:
            "first aside" 1fr
            "second aside" 1fr
            / auto 20vw;
    }

    aside {
        grid-area: aside;
        display: flex;
        flex-direction: column;
    }

    .first {
        grid-area: first;
    }

    .second {
        grid-area: second;
    }
}
