main img {
    width: 100%;
}

@media only screen and (min-width: 768px) {
    main img {
        width: 27vw;
    }
}

table,
th,
td {
    border-collapse: collapse;
    border: 5px solid;
    width: 45vw;
    text-align: center;
}

main {
    display: grid;
    grid-template:
        "header header" auto
        "info vip" auto
        / 1fr 1fr;
    gap: 2em;
}

.header {
    grid-area: header;
}

.vip {
    grid-area: vip;
}

.info {
    grid-area: info;
}

.info img {
    margin-top: 1em;
}
